$border-color: #C4C4C4;
$primary-color: #0cb8b6;
$color-white: #fff;
$color-black: #111111;
$bg-white: #fff;
$fontfamily: "Playwrite DE Grund", cursive;
$secondary-bg: #0cb9b6;
$third-bg: #F9FAFC;
$ns-about-bg: #F8F9FB;
$icons-color: #b5b5b5;
$text-color: #666;
$cruthes-color: #E6F8F8;
$puls-color: #EBF7EC;
$xray-color: #FCECEA;
$curdiology-color: #E7EFFB;
$dental-color: #FEF6EA;
$neuro-color: #F5F5F6;
$appointment-bg: #F9FAFC;
$red-color: #FC334E;