#ns-contact {
    padding: 100px 0;
    width: 100%;
    .ns-contact-form {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        .ns-form-item {
            width: 48%;
            @include media-breakpoint-down(lg) {
                width: 100%;
              }
            label {
                font-family: $fontfamily;
                font-size: 16px;
                font-weight: 400;
                color: $text-color;
                display: block;
                margin-bottom: 6px;
            }
            input {
                font-family: $fontfamily;
                font-size: 16px;
                font-weight: 400;
                color: $text-color;
                width: 100%;
                border: 1px solid $border-color;
                border-radius: 8px;
                background: $color-white;
                padding: 8px 12px;
                outline: none;
            }
        }
        .ns-form-textarea {
            width: 100%;
            label {
                font-family: $fontfamily;
                font-size: 16px;
                font-weight: 400;
                color: $text-color;
                display: block;
                margin-bottom: 6px;
            }
            textarea {
                font-family: $fontfamily;
                font-size: 16px;
                font-weight: 400;
                color: $text-color;
                width: 100%;
                height: 150px;
                border: 1px solid $border-color;
                border-radius: 8px;
                background: $color-white;
                padding: 8px 12px;
                outline: none;
            }
        }
        .ns-submit-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            .ns-contact-btn{
                padding: 10px 28px;
                border: none;
                outline: none;
                color: $color-white;
                background: $secondary-bg;
                font-family: $fontfamily;
                font-size: 18px;
                font-weight: 400;
                border-radius: 8px;
                margin-top: 15px;
                cursor: pointer;
            }
        }
    }
}