.ns-blog-details-hero {
    width: 100%;
    padding: 150px;
    background-image: url("../../image/bannerImg/blog-hero-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    z-index: 777;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.534);
        position: absolute;
        top: 0;
        left: 0;
    }
    .ns-details-hero-text {
        position: relative;
        z-index: 888;
        padding: 0 100px;
        @include media-breakpoint-down(xl) {
            padding: 0;
            width: 100%;
          }
        h2{
            text-transform: capitalize;
            font-family: $fontfamily;
            color: $color-white;
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 20px;
            line-height: 78px;
            @include media-breakpoint-down(md) {
                font-size: 32px;
                line-height: 60px;
              }
        }
        p{
            text-transform: capitalize;
            font-family: $fontfamily;
            color: $border-color;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 15px;
        }
    }
}